<body>
  <h1>Login</h1>

  <form class="form-horizontal" method="POST" action="/login">

    <div class="form-group">
      <label for="email" class="col-md-2 control-label">Email</label>
      <div class="col-md-10">
        <input type="email" class="form-control" name="email" placeholder="first.last@example.com">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-md-2 control-label">Password</label>
      <div class="col-md-10">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
    </div>

    <div class"col-md-offset-1 col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
      <button type="submit" class="btn btn-danger">Sign In</button>
      </div>
    </div>

  </form>
</body>